body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid{
  padding: 0;
}
.row{
  display: block;
  margin: 2% 0 0 0!important;
}
.logotip{
  width: 20%;
  height: 100%;
  float: left;
  
}
#skodalogo{
  float: left;
  height: 90%;
  width: 90%;
  margin-left: 10%;
}
.rain{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  text-align: right;
  width: 75%;
  /* background-color: lightgreen; */
  margin: 5% 0% 0% 0%;
  display: inline-block;
}
.liclass{
  color: black;
  margin-left: 3%;
  display: inline-block;
}
.liclass:hover{
  color: green;

}
a{
text-decoration: none;
}
/* topmenu */

.spiski > li {
display: inline-block;
position: relative;
}

.spiski > li > a {
padding: 12px 26px;
color: #767676;
letter-spacing: 1px;
color: black;
text-decoration: none;
}
.spiski li a:hover { 
color: green; 

}
.submenu {
position: absolute;
left: 50%;
top: 100%;
width: 200px;
margin-left: -105px;
margin-top: 10px;
background: #fafafa;
border: 1px solid #ededed;
z-index: 5;
visibility: hidden;
text-align: center;
opacity: 0;
transform: scale(.8);
transition: .4s ease-in-out;
list-style-type: none;
}
.submenu li a {
border-bottom: 1px solid #efefef;
font-size: 18px;
color: black;
text-decoration: none;

}
.spiski > li:hover .submenu {
visibility: visible;
opacity: 1;
transform: scale(1);
}

.model1{
  width: 20%;
  height: 100%;
  float: left;
  display: block;
  margin-left: 4%;
  padding: 1%;
  text-align: center;
}

.model1:hover, .model2:hover, .model3:hover, .model4:hover{
  color: green;
  transition: 1s; 
}
.imgmodel1{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#imgmodel1{
  width: 100%;
  height: 100%;
  transition: 1s;
}
#imgmodel1:hover{
  transform: scale(1.2);
}
.textmodel1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  margin-top: 1%;
}
.col-md-10{
  
  width: 100%;
  height: 100%;
  float: left;
}
#news{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: black;

}
.col-md-5{
  color: black;
  float: left;
  /* width: 100%; */
  height: 100%;
  font-size: 22px;
  margin: 1% 4%;
  padding: 1%;
}
.col-md-5:hover{
  background-color: rgb(190, 235, 190);
}
#newsoct1{
  height: 100%;
  width: 100%;
}
.bottom-button-position{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.button{
border-radius: 25px;
text-align: center;
margin-top: 12%;
background-color: white;
float: left;
color: black;
padding: 22%;
border-width:1px;
border-color: black;
border-style: solid;
}
.button:hover{
background-color: black;
color: white;
}
footer{
margin-top: 2%;
background-color: lightgray;
height: 100%;
width: 100%;
float: left;


}
.textfooter{
color: black;
font-size: 24px;
margin-left: 40%;
margin-top: 7%;
font-weight: bold;
}